/*******************************/
/*
  ----
  BODY
  ----
*/
body{
  background-color: rgb(61, 4, 63);
  background-image: url('../web/images/background.gif');

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*******************************/
/*
  --------------
  NAVIGATION BAR
  --------------
*/
nav{
  background-color: rgba(230, 199, 112, 0.829);
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  padding-top: 5px;
  padding-bottom: 1px;
}
#logo{
  text-align: center;
}
@media only screen and (max-width: 600px) {
  nav, img{
    width: 90%;
    height: auto;
  }
}
#navpages{
  background-color: rgba(223, 181, 91, 0.829);
  margin-left: 5%;
  margin-right: 5%;
}

/* The switch - the box around the slider */
.switch {
  position: absolute;
  top: 33px;
  right: 111px;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch p {
  font-family: fantasy;
  color: black;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before 
{
  border-radius: 50%;
}
/*******************************/
/*
  ------
  HEADER
  ------
*/
header{
  background-color: rgba(230, 199, 112, 0.829);
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  padding: 1%;
}
/*******************************/
/*
  --------------
  NEWS CONTAINER
  --------------
*/
.News{
  background-color: rgba(230, 199, 112, 0.829);
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  padding: 1%;
}
/*******************************/
/*
  --------------------------
  MORE INFORMATION CONTAINER
  --------------------------
*/
.MoreInfo{
  background-color: rgba(230, 199, 112, 0.829);
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  padding: 1%;
}
#Others{
  background-color: rgba(230, 199, 112, 0.829);
  margin: 1%;
}
/*******************************/
/*
  -----------
  CONTACTS ID
  -----------
*/
#Contacts{
  background-color: rgba(230, 199, 112, 0.829);
  margin: 1%;
}
/*******************************/
/* 
  -----------
  CHANGE THEME ID
  -----------
*/

.ChangeTheme{
  background-color: rgba(230, 199, 112, 0.829);
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  padding: 1%;
}

#darkTheme{
  background-color: rgba(230, 199, 112, 0.829);
  margin-left: 5%;
  margin-right: 5%;

}

/*******************************/
/*
  ------
  FOOTER
  ------
*/
footer{
  background-color: #2A3344;
  color: white;
  padding: 18px;
  position: absolute;
  opacity: .7;
  left: 5%;
  right: 5%;
  border-width: 2px;
}

/*******************************/
