/*******************************/
/*
  ----
  BODY
  ----
*/
body{
  background-color: rgb(61, 4, 63);
  background-image: url(images/background.giff);

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*******************************/
/*
  --------------
  NAVIGATION BAR
  --------------
*/
nav{
  background-color: rgba(230, 199, 112, 0.829);
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  padding-top: 5px;
  padding-bottom: 1px;
}
#logo{
  text-align: center;
}
@media only screen and (max-width: 600px) {
  nav, img{
    width: 90%;
    height: auto;
  }
}
#navpages{
  background-color: rgba(223, 181, 91, 0.829);
  margin-left: 5%;
  margin-right: 5%;
}
/*******************************/
/*
  ------
  HEADER
  ------
*/
header{
  background-color: rgba(230, 199, 112, 0.829);
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  padding: 1%;
}
/*******************************/
/*
  --------------
  NEWS CONTAINER
  --------------
*/
.News{
  background-color: rgba(230, 199, 112, 0.829);
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  padding: 1%;
}
/*******************************/
/*
  --------------------------
  MORE INFORMATION CONTAINER
  --------------------------
*/
.MoreInfo{
  background-color: rgba(230, 199, 112, 0.829);
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  padding: 1%;
}
#Others{
  background-color: rgba(230, 199, 112, 0.829);
  margin: 1%;
}
/*******************************/
/*
  -----------
  CONTACTS ID
  -----------
*/
#Contacts{
  background-color: rgba(230, 199, 112, 0.829);
  margin: 1%;
}
/*******************************/
/*
  ------
  FOOTER
  ------
*/
footer{
  background-color: #2A3344;
  color: white;
  padding: 18px;
  position: absolute;
  opacity: .7;
  left: 5%;
  right: 5%;
  border-width: 2px;
}

/*******************************/
